@import "variables";

main {

    .yt-video {
        display: block;
        margin: 0 auto 3em;
        width: 700px;
        height: 394px;

        @media (max-width: 1023px) {
            width: 400px;
            height: 225px;
        }

        @media (max-width: 600px) {
            width: 250px;
            height: 141px;
        }

        @media (max-width: 385px) {
            width: 90%;
        }
    }

}