@import "variables";

body > header {
    position: relative;
    display: flex;
    width: 100%;
    height: 350px;
    background-color: black;
    color: $accent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 4px;

    font-size: 72px;
    img {
        width: 72px;
        height: 72px;
        margin-bottom: -10px;
    }

    .bg {
        z-index: -1;
        position: absolute;
        top: 0;
        left:0;
        bottom:0;
        right:0;
        overflow: hidden;
        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

main {
    article {
        width: 700px;
        margin: 1em auto;

        header {
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            margin: 0 0 1.5em;
        }
        figure {
            img {
                width: 100%;

                &.highlighted {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    width: initial; max-width: 90vw;
                    height: initial; max-height: 90vh;
                    animation: highlight 300ms ease-in-out forwards;
                    z-index: 1;
                }

                @keyframes highlight {
                    from {
                        transform: translate(-50%, -50%) scale(0);
                    }
                    to {
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
            figcaption {
                width: 90%;
                margin: 1em auto 0;
                display: flex;
                justify-content: space-between;
            }
        }
        p {
            margin: 2em 0;
            text-align: center;
        }
    }
    
    #newsletter {
        text-align: center;
        width: 530px;
        margin: 3.5em auto;
        padding: 1.5em 0;
        border: 1px solid #ccc;
        border-left: 0; border-right: 0;

        input, button {
            display: block;
            font-family: 'Montserrat', sans-serif;
            box-sizing: border-box;
            width: 180px;
            height: 30px;
            margin: 0 auto 1em;
            border: 0;
            outline: none;
        }

        input {
            width: 180px;
            border-bottom: 2px solid lighten($accent, 5%);
            padding: 0 .5em;
            height: 0px;
            border-width: 0px;
            margin-bottom: 0px;

            transition: all 200ms ease-in-out;

            &.revealed {
                height: 30px;
                border-width: 2px;
                margin-bottom: 1em;
            }
        }

        button {
            border: 2px solid lighten($accent, 5%);
            font-weight: 700;
            color: lighten($accent, 5%);;
            background-color: #ffffff;
            position: relative;
            cursor: pointer;
            border-radius: 5px;
            transition: color 200ms ease-in-out 0ms, background-color 0ms linear 200ms;

            &:hover {
                color: #ffffff;
                background-color: transparent; 
                transition: background-color 0ms linear 0ms, color 200ms ease-in-out 100ms;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 100%;
                background-color: lighten($accent, 5%);;
                z-index: -1;
                transition: top 200ms ease-in-out;
            }

            &:hover::before {
                top: 0%;
            }
        }
    }
}
