@import "variables";

main {
    & > p {
        width: 750px;
        margin: 0 auto;
        text-align: justify;

        @media (max-width: 1023px) {
            width: 500px;
        }
        @media (max-width: 600px) {
            width: 300px;
        }
        @media (max-width: 385px) {
            width: 100%;
        }
    }

    #types {
        display: flex;
        align-items: center;
        justify-content: center;
        
        @media (max-width: 400px) {
            flex-direction: column;     
            margin: 1em auto;
        }

        margin: 4em auto;
        a {
            color: black;
            font-weight: 600;
            position: relative;
            margin: 0 50px;

            @media (max-width: 600px) {
                margin: 0 20px;
            }
            @media (max-width: 400px) {
                margin: .5em 0px;       
            }

            &::after, &::before {
                content: '';
                display: block;
                position: absolute;
                background-color: $accent;
            }
            &::before {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                left: -12px;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after {
                bottom: -2px;
                height: 2px;
                width: 0%;
                transition: width 200ms ease-in-out;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }

    #description .marker {
        margin-top: -3.5em;
        height: 3.5em;
    }
}